In [2]:
#Import Library
import pandas as pd # For creating and manipulating dataframe
import numpy as np # For scientific compiting

import requests #  To handle requests

In [3]:
import urllib.request # For dowloading files from the internet
                        #Similar to wget

In [4]:
# Downloading the html code for the wiki page
filename='toronto.txt'

#New page updateed
path='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Using old page
#path='https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641'
urllib.request.urlretrieve(path,filename)

('toronto.txt', <http.client.HTTPMessage at 0x202a5416a30>)

In [5]:
# Reading the table from html(.txt) file
table_toronto=pd.read_html(filename)

In [6]:
#Selecting the desired table
df=table_toronto[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [8]:
#Check if the dataframe has miising values
df['Borough'].isnull().value_counts()

False    180
Name: Borough, dtype: int64

In [9]:
#Check if the dataframe has miising values
df['Neighbourhood'].isnull().value_counts()

False    180
Name: Neighbourhood, dtype: int64

In [10]:
#process the cells that have an assigned borough by filtering the dataframe
df=df[df['Borough']!='Not assigned']

In [11]:
df.head(3)

  Postal Code           Borough              Neighbourhood
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [12]:
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [13]:
df['Borough'].unique()

array(['North York', 'Downtown Toronto', 'Etobicoke', 'Scarborough',
       'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [14]:
#Arranging neighborhood on basis of Postal Code and Borough
df=df.groupby(by=['Postal Code','Borough'])['Neighbourhood'].apply(list)

In [15]:
df

Postal Code  Borough
M1B          Scarborough                                     [Malvern, Rouge]
M1C          Scarborough             [Rouge Hill, Port Union, Highland Creek]
M1E          Scarborough                  [Guildwood, Morningside, West Hill]
M1G          Scarborough                                             [Woburn]
M1H          Scarborough                                          [Cedarbrae]
                                                  ...
M9N          York                                                    [Weston]
M9P          Etobicoke                                            [Westmount]
M9R          Etobicoke      [Kingsview Village, St. Phillips, Martin Grove...
M9V          Etobicoke      [South Steeles, Silverstone, Humbergate, James...
M9W          Etobicoke                  [Northwest, West Humber - Clairville]
Name: Neighbourhood, Length: 103, dtype: object

In [16]:
df=df.to_frame()

In [17]:
df.head()

                                                    Neighbourhood
Postal Code Borough
M1B         Scarborough                          [Malvern, Rouge]
M1C         Scarborough  [Rouge Hill, Port Union, Highland Creek]
M1E         Scarborough       [Guildwood, Morningside, West Hill]
M1G         Scarborough                                  [Woburn]
M1H         Scarborough                               [Cedarbrae]

In [18]:
df=df.reset_index()

In [19]:
df.head()

  Postal Code      Borough                             Neighbourhood
0         M1B  Scarborough                          [Malvern, Rouge]
1         M1C  Scarborough  [Rouge Hill, Port Union, Highland Creek]
2         M1E  Scarborough       [Guildwood, Morningside, West Hill]
3         M1G  Scarborough                                  [Woburn]
4         M1H  Scarborough                               [Cedarbrae]

In [20]:
#Defining function to convert list to string
def string_op(list):
    string=''
    for i in list:
        string= string + ',' + i
    return(string[1:])

In [21]:
df['Neighbourhood']=df['Neighbourhood'].apply (string_op)

# Answer to Question 1 Final Dataframe

In [22]:
df.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [23]:
print('The number of rows of dataframe = {}  '.format(df.shape[0]))

The number of rows of dataframe = 103