In [1]:
#Import Library
import pandas as pd # For creating and manipulating dataframe
import numpy as np # For scientific compiting

import requests #  To handle requests

In [2]:
import urllib.request # For dowloading files from the internet
                        #Similar to wget

In [3]:
# Downloading the html code for the wiki page
filename='toronto.txt'

#New page updateed
path='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Using old page
#path='https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641'
urllib.request.urlretrieve(path,filename)

('toronto.txt', <http.client.HTTPMessage at 0x1dd3374a6d0>)

In [4]:
# Reading the table from html(.txt) file
table_toronto=pd.read_html(filename)

In [5]:
#Selecting the desired table
df=table_toronto[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Postal Code    180 non-null    object
 1   Borough        180 non-null    object
 2   Neighbourhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

In [7]:
#Check if the dataframe has miising values
df['Borough'].isnull().value_counts()

False    180
Name: Borough, dtype: int64

In [8]:
#Check if the dataframe has miising values
df['Neighbourhood'].isnull().value_counts()

False    180
Name: Neighbourhood, dtype: int64

In [9]:
#process the cells that have an assigned borough by filtering the dataframe
df=df[df['Borough']!='Not assigned']

In [10]:
df.head(3)

  Postal Code           Borough              Neighbourhood
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [11]:
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [12]:
df['Borough'].unique()

array(['North York', 'Downtown Toronto', 'Etobicoke', 'Scarborough',
       'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [13]:
#Arranging neighborhood on basis of Postal Code and Borough
df=df.groupby(by=['Postal Code','Borough'])['Neighbourhood'].apply(list)

In [14]:
df

Postal Code  Borough
M1B          Scarborough                                     [Malvern, Rouge]
M1C          Scarborough             [Rouge Hill, Port Union, Highland Creek]
M1E          Scarborough                  [Guildwood, Morningside, West Hill]
M1G          Scarborough                                             [Woburn]
M1H          Scarborough                                          [Cedarbrae]
                                                  ...
M9N          York                                                    [Weston]
M9P          Etobicoke                                            [Westmount]
M9R          Etobicoke      [Kingsview Village, St. Phillips, Martin Grove...
M9V          Etobicoke      [South Steeles, Silverstone, Humbergate, James...
M9W          Etobicoke                  [Northwest, West Humber - Clairville]
Name: Neighbourhood, Length: 103, dtype: object

In [15]:
df=df.to_frame()

In [16]:
df.head()

                                                    Neighbourhood
Postal Code Borough
M1B         Scarborough                          [Malvern, Rouge]
M1C         Scarborough  [Rouge Hill, Port Union, Highland Creek]
M1E         Scarborough       [Guildwood, Morningside, West Hill]
M1G         Scarborough                                  [Woburn]
M1H         Scarborough                               [Cedarbrae]

In [17]:
df=df.reset_index()

In [18]:
df.head()

  Postal Code      Borough                             Neighbourhood
0         M1B  Scarborough                          [Malvern, Rouge]
1         M1C  Scarborough  [Rouge Hill, Port Union, Highland Creek]
2         M1E  Scarborough       [Guildwood, Morningside, West Hill]
3         M1G  Scarborough                                  [Woburn]
4         M1H  Scarborough                               [Cedarbrae]

In [19]:
#Defining function to convert list to string
def string_op(list):
    string=''
    for i in list:
        string= string + ',' + i
    return(string[1:])

In [20]:
df['Neighbourhood']=df['Neighbourhood'].apply (string_op)

# Answer to Question 1 Final Dataframe

In [21]:
df.head(20)

   Postal Code      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
5          M1J  Scarborough                                Scarborough Village
6          M1K  Scarborough        Kennedy Park, Ionview, East Birchmount Park
7          M1L  Scarborough                    Golden Mile, Clairlea, Oakridge
8          M1M  Scarborough    Cliffside, Cliffcrest, Scarborough Village West
9          M1N  Scarborough                        Birch Cliff, Cliffside West
10         M1P  Scarborough  Dorset Park, Wexford Heights, Scarborough Town...
11         M1R  Scarborough                                  Wexford, Maryvale
12         M1S  Scarborough                                          Agincourt
13         M1T  Scarborough            Clarks Corners, Tam O'Shanter, Sullivan
14         M1V  Scarborough  Milliken, Agincourt North, Steeles East, L'Amo...
15         M1W  Scarborough                      Steeles West, L'Amoreaux West
16         M1X  Scarborough                                        Upper Rouge
17         M2H   North York                                  Hillcrest Village
18         M2J   North York                       Fairview, Henry Farm, Oriole
19         M2K   North York                                    Bayview Village

In [22]:
print('The number of rows of dataframe = {}  '.format(df.shape[0]))

The number of rows of dataframe = 103

In [23]:
df['Postal Code']

0      M1B
1      M1C
2      M1E
3      M1G
4      M1H
      ...
98     M9N
99     M9P
100    M9R
101    M9V
102    M9W
Name: Postal Code, Length: 103, dtype: object

In [24]:
# Downloading the lat and long coordinates from the link as geocoder.google function doesnt work well
filename1='toronto_latlong.csv'

#New page updateed
path1='http://cocl.us/Geospatial_data'

urllib.request.urlretrieve(path1,filename1)

('toronto_latlong.csv', <http.client.HTTPMessage at 0x1dd35efbd30>)

In [25]:
df_latlong=pd.read_csv(filename1)
df_latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
df_latlong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Postal Code  103 non-null    object
 1   Latitude     103 non-null    float64
 2   Longitude    103 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

In [27]:
print('The number of rows of dataframe = {}  '.format(df_latlong.shape[0]))

The number of rows of dataframe = 103

In [28]:
#Checking whteher the two dataframes df and df_latlong have same elecments in Postal Code
flag=0
for i,j in zip(df['Postal Code'],df_latlong['Postal Code']):
    if (i!= j):
        flag=1
if flag==0:
    print('All elemnets of postal code are same')
else:
    print('Some elemnets of postal code are not same')

All elemnets of postal code are same

# Answer to Question 2 Final Dataframe

In [29]:
#Merging the dataframes
df_merge=pd.merge(df, df_latlong, on=['Postal Code', 'Postal Code'])
df_merge.head(20)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.781638,-79.304302
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.815252,-79.284577
15,M1W,Scarborough,"Steeles West, L'Amoreaux West",43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975